body{
background:#0b0b0b;
color:white;
font-family:Arial,sans-serif;
text-align:center;
padding:40px;
}

h1{
font-size:42px;
color:#ffd700;
margin-top:80px;
}

p{
font-size:20px;
margin:15px;
}

button{
background:#ffd700;
color:black;
border:none;
padding:15px 35px;
font-size:18px;
font-weight:bold;
border-radius:10px;
cursor:pointer;
margin-top:30px;
}
